    <div class="body"> 
            <div class="brcrumb">
              <div class="container">
                <ul class="brcrumb__list">
                  <li class="brcrumb__list-item"><a class="item__links item__links" href="#">Trang chủ /</a></li>
                  <li class="brcrumb__list-item"><a class="item__links" href="#">Thanh toán đơn hàng #125464754</a></li>
                </ul>
                <div class="brcrumb__info">
                  <h1 class="brcrumb__info-title">Thanh toán đơn hàng #125464754</h1>
                </div>
              </div>
            </div>
      <div class="section-checkout">
        <div class="container">
          <div class="section-checkout__content">
            <div class="row">
              <div class="col-lg-6">
                <div class="section-checkout__left">
                  <div class="payment">
                    <h3 class="title">Phương thức thanh toán</h3>
                    <div class="payment-group">
                      <label class="paymentMethod cod">
                        <div class="method active">
                          <div class="icon"><img src="./assets/images/checkout/iconCOD.svg" alt=""></div>
                          <div class="text">
                            <h4>Thanh toán khi nhận hàng</h4><span>Bằng tiền mặt</span>
                          </div>
                          <input type="radio" name="options" checked=""><span class="tag"><i class="fas fa-check"></i></span>
                        </div>
                      </label>
                      <label class="paymentMethod vnpay">
                        <div class="method">
                          <div class="icon"><img src="./assets/images/checkout/iconCOD2.svg" alt=""></div>
                          <div class="text">
                            <h4>Thanh toán qua VN Pay</h4><span>Ví điện tử VN Pay</span>
                          </div>
                          <input type="radio" name="options" checked=""><span class="tag"><i class="fas fa-check"></i></span>
                        </div>
                      </label>
                    </div>
                  </div>
                  <div class="info">
                    <h3 class="title">Thông tin người nhận</h3>
                    <form action="">
                      <div class="row">
                        <div class="col-12">
                          <div class="form-group">
                            <label for="">Họ và tên</label>
                            <div class="input-group"><span class="form-icon"><i class="fas fa-user"></i></span>
                              <input class="form-control hover-input" type="text" placeholder="Họ và tên" aria-label="Họ và tên">
                            </div>
                          </div>
                        </div>
                        <div class="form-phone-email">
                          <div class="form-phone">
                            <div class="form-group">
                              <label for="">Số điện thoại</label>
                              <div class="input-group"><span class="form-icon"><i class="fas fa-phone-alt"></i></span>
                                <input class="form-control hover-input" type="phone" placeholder="Số điện thoại" aria-label="Số điện thoại">
                              </div>
                            </div>
                          </div>
                          <div class="form-email">
                            <div class="form-group">
                              <label for="">Email</label>
                              <div class="input-group"><span class="form-icon"><i class="fas fa-envelope"></i></span>
                                <input class="form-control hover-input" type="Email" placeholder="Email" aria-label="Email">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="">Chọn Tỉnh/TP</label>
                            <div class="input-group"><span class="form-icon"><i class="fas fa-map-marked-alt"></i></span>
                              <div class="dropdow-adress form-control click-show-dropdow">
                                <select class="select-option">
                                  <option value="placeholder" selected="" disabled="">Chọn Tỉnh/TP</option>
                                  <option value="dn">Đà Nắng</option>
                                  <option value="tphcm">TPHCM</option>
                                  <option value="hn">Hà Nội</option>
                                  <option value="hue">Huế</option>
                                  <option value="cantho">Cần Thơ</option>
                                </select><img class="lazy entered loaded" alt="" src="./assets/images/checkout-mb-1/arrow.svg">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 pdl-9">
                          <div class="form-group">
                            <label for="">Chọn Quận/Huyện</label>
                            <div class="input-group"><span class="form-icon"><i class="fas fa-map-marked-alt"></i></span>
                              <div class="dropdow-adress form-control click-show-dropdow">
                                <select class="select-option">
                                  <option value="placeholder" selected="" disabled="">Chọn Tỉnh/TP</option>
                                  <option value="dn">Đà Nắng</option>
                                  <option value="tphcm">TPHCM</option>
                                  <option value="hn">Hà Nội</option>
                                  <option value="hue">Huế</option>
                                  <option value="cantho">Cần Thơ</option>
                                </select><img class="lazy entered loaded" alt="" src="./assets/images/checkout-mb-1/arrow.svg">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <label for="">Địa chỉ</label>
                            <div class="input-group"><span class="form-icon"><i class="fas fa-map-marker-alt"></i></span>
                              <input class="form-control hover-input" type="text" placeholder="Nhập vị trí" aria-label="Địa chỉ">
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <label for="">Ghi chú</label>
                            <div class="input-group form-area">
                              <textarea class="hover-input" name="user_bio" placeholder="Nhập nội dung"></textarea>
                              <div class="form-area__icon"><img src="./assets/images/checkout/Icon.svg" alt=""></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="section-checkout__right">
                  <h3 class="title">Thông tin đơn hàng</h3>
                  <div class="section-checkout__right-content">
                    <ul class="section-checkout__right-list">
                      <li class="section-checkout__right-item"><b>Mã đơn hàng</b><span class="code">#125464754</span></li>
                      <li class="section-checkout__right-item"><b>Tạm tính:</b><span>900.000đ</span></li>
                      <li class="section-checkout__right-item"><b>Phí vận chuyển:</b><span>25.000đ</span></li>
                      <li class="section-checkout__right-item"><b>Giảm giá:</b><span class="discount">-25.000đ</span></li>
                      <li class="section-checkout__right-item section-checkout__right-item--money"><b>Thành tiền:</b><span class="money">900.000đ</span></li>
                    </ul>
                    <div class="desc-btn">
                      <p class="desc">Bằng việc nhấn thanh toán, bạn đồng ý với <a href="">Các điều khoản khách hàng </a>của Darklight Ebook</p><a class="btn-pay" href="./confirm">Thanh toán bằng tiền mặt</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>