    <div class="body"> 
            <div class="brcrumb">
              <div class="container">
                <ul class="brcrumb__list">
                  <li class="brcrumb__list-item"><a class="item__links item__links" href="#">Trang chủ /</a></li>
                  <li class="brcrumb__list-item"><a class="item__links" href="#">Thanh toán đơn hàng #125464754</a></li>
                </ul>
                <div class="brcrumb__info">
                  <h1 class="brcrumb__info-title">Thanh toán đơn hàng #125464754</h1>
                </div>
              </div>
            </div>
      <main class="main__checkout">
        <section class="checkout-complete">
          <div class="container">
            <div class="row d-flex justify-content-center">
              <div class="col-md-7">
                <div class="checkout__detail-desktop">
                  <div class="checkout__detail-top">
                    <div class="list-img"><img src="./assets/images/checkout-complete/Group.png" alt=""></div>
                    <h1 class="title-complete">Đặt Hàng Thành Công</h1>
                  </div>
                  <div class="checkout__detail-bottom">
                    <p class="descrip-pay">Cảm ơn bạn đã đặt hàng tại <a class="descrip-pay__link" href="1.index.html">darklightebook.com.vn</a></p>
                    <p class="total-pay">Bạn đã thanh toán thành công số tiền<span> 233.000 đ</span></p>
                    <p class="code-product">Mã Đơn Hàng<span class="code"> #125464754.</span></p>
                    <p class="info-product">Để xem thông tin đơn hàng vui lòng<a href="#">xem tại đây</a></p>
                    <div class="support-check">
                      <p class="info-cont">Để được hỗ trợ vui lòng gọi vào hotline<span class="number-phone">0988.888.888</span><span> hoặc Zalo</span><span class="number-phone">0986.666.666</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>