   <div class="body"> 
            <div class="brcrumb">
              <div class="container">
                <ul class="brcrumb__list">
                  <li class="brcrumb__list-item"><a class="item__links item__links" href="#">Trang chủ /</a></li>
                  <li class="brcrumb__list-item"><a class="item__links" href="#">Thanh toán đơn hàng #125464754</a></li>
                </ul>
                <div class="brcrumb__info">
                  <h1 class="brcrumb__info-title">Thanh toán đơn hàng #125464754</h1>
                </div>
              </div>
            </div>
      <div class="section-checkout">
        <div class="container">
          <div class="section-checkout__content">
            <div class="row">
              <div class="col-lg-6">
                <div class="section-checkout__left">
                  <div class="payment">
                    <h3 class="title">Phương thức thanh toán</h3>
                    <div class="payment-group">
                      <label class="paymentMethod cod">
                        <div class="method active">
                          <div class="icon"><img src="./assets/images/checkout/iconCOD.svg" alt=""></div>
                          <div class="text">
                            <h4>Thanh toán khi nhận hàng</h4><span>Bằng tiền mặt</span>
                          </div>
                          <input type="radio" name="options-payment" checked><span class="tag"><i class="fas fa-check"></i></span>
                        </div>
                      </label>
                      <label class="paymentMethod vnpay">
                        <div class="method">
                          <div class="icon"><img src="./assets/images/checkout/iconCOD2.svg" alt=""></div>
                          <div class="text">
                            <h4>Thanh toán qua VN Pay</h4><span>Ví điện tử VN Pay</span>
                          </div>
                          <input type="radio" name="options-payment"><span class="tag"><i class="fas fa-check"></i></span>
                        </div>
                      </label>
                    </div>
                  </div>
                  <div class="info-user">
                    <h3 class="title">Thông tin người nhận<a href="./10a.payment.html">Thay đổi</a></h3>
                    <ul>
                      <li><span><i class="fas fa-user"> </i>Nguyễn Văn Hoàng           </span></li>
                      <li><span><i class="fas fa-phone-alt"> </i>+84 936 255 358            </span></li>
                      <li><span><i class="fas fa-map-marker-alt"> </i>Tòa A Hồ Gươm plaza, Vũ Trọng Khánh, Phường Mộ Lao, Quận Hà Đông, Hà Nội            </span></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="section-checkout__right">
                  <h3 class="title">Thông tin đơn hàng</h3>
                  <div class="section-checkout__right-content">
                    <ul class="section-checkout__right-list">
                      <li class="section-checkout__right-item"><b>Mã đơn hàng</b><span class="code">#125464754</span></li>
                      <li class="section-checkout__right-item"><b>Tạm tính:</b><span>900.000đ</span></li>
                      <li class="section-checkout__right-item"><b>Phí vận chuyển:</b><span>25.000đ</span></li>
                      <li class="section-checkout__right-item"><b>Giảm giá:</b><span class="discount">-25.000đ</span></li>
                      <li class="section-checkout__right-item section-checkout__right-item--money"><b>Thành tiền:</b><span class="money">900.000đ</span></li>
                    </ul>
                    <div class="desc-btn">
                      <p class="desc">Bằng việc nhấn thanh toán, bạn đồng ý với <a href="">Các điều khoản khách hàng </a>của Darklight Ebook</p><a class="btn-pay" href="./complete">Thanh toán bằng tiền mặt</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>