.section-checkout {
    padding: 28px 0 56px;
    & .pdl-9 {
        padding-left: 9px;
        @include breakpoint(767) {
            padding-left: 15px;
        }
    }
    & .form-phone-email {
        display: flex;
        padding: 0 15px;
        width: 100%;
        & .form-phone {
            width: 208px;
            padding-right: 15px;
        }
        & .form-email {
            flex: 1;
        }
        @include breakpoint(1200) {
            flex-wrap: wrap;
            & .form-phone {
                width: 100%;
                padding-right: 0px;
            }
            & .form-email {
                width: 100%;
            }
        }
    }
    & .title {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #02010e;
        margin-bottom: 26px;
    }
    &__content {
        @include min-breakpoint(426) {
            background: $white;
        }
        border-radius: 5px;
        & .border-right-1px {
            border-right: 1px solid #d1d1d1;
            @include breakpoint("768") {
                border-right: none;
            }
        }
    }
    &__left {
        background: $white;
        border-radius: 10px;
        padding: 45px 20px;
        margin-left: 15px;
        @include breakpoint(375) {
            margin-left: 0px;
        }
        &-item {
            padding: 23px 0;
            padding-right: 30px;
            border-bottom: 1px solid $border-color;
            position: relative;
            display: flex;
            &:last-child {
                border-bottom: 0;
            }
            & .left-item {
                &__img {
                    border-radius: 5px;
                    position: relative;
                    width: 110px;
                    margin-right: 20px;
                    min-width: 110px;
                    & span {
                        position: absolute;
                        font-size: 13px;
                        line-height: 20px;
                        color: $white;
                        padding: 0 9px;
                        background: $green;
                        border-radius: 5px;
                        top: 10px;
                        right: -15px;
                    }
                }
                &__desc {
                    & h4 {
                        margin: 0;
                        padding-right: 20px;
                        & a {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 19px;
                            color: $grey-dark;
                        }
                    }
                    &-price {
                        margin-bottom: 15px;
                        & span {
                            font-size: 14px;
                            line-height: 16px;
                            color: #828282;
                            & b {
                                font-weight: bold;
                                font-size: 16px;
                                line-height: 19px;
                                color: #c45353;
                                padding-right: 4px;
                            }
                        }
                    }
                    &-item {
                        display: flex;
                        margin: 7px 0;
                        align-items: center;
                        & span.color-33 {
                            width: 105px;
                        }
                        & b {
                            font-size: 18px;
                            line-height: 21px;
                            color: $red-dark2;
                        }
                        & .time {
                            width: 158px;
                            & .valua-time {
                                display: none;
                            }
                            & .get-valua {
                                display: none;
                            }
                            & .time-text {
                                width: 100%;
                                height: 100%;
                                font-size: 16px;
                                line-height: 19px;
                                color: $grey-dark;
                                border: none;
                                cursor: pointer;
                                margin: 0;
                                display: flex;
                                align-items: center;
                                white-space: nowrap;
                            }
                        }
                        &.over {
                            & span {
                                color: $grey-4;
                            }
                            & .num-in {
                                & span {
                                    background: $white;
                                    color: $red-secondary;
                                    border: 1px solid $red-secondary;
                                    &::before {
                                        background: $red-secondary;
                                    }
                                    &::after {
                                        background: $red-secondary;
                                    }
                                }
                                & input {
                                    color: $red-secondary;
                                }
                            }
                        }
                    }
                }
                &__delete {
                    position: absolute;
                    right: 0;
                    top: 23px;
                    width: 28px;
                    height: 28px;
                    background: $nav-color;
                    border: 1px solid $grey-light;
                    box-sizing: border-box;
                    border-radius: 5px;
                    &:hover {
                        background: $yellow;
                        & i {
                            color: $white;
                        }
                    }
                    & i {
                        font-size: 14px;
                        color: $grey-9;
                    }
                }
            }
            &.--product-end {
                & .num-in {
                    & .minus {
                        opacity: 0.5;
                    }
                    & .in-num {
                        opacity: 0.5;
                    }
                    & .plus {
                        opacity: 0.5;
                    }
                }
            }
            & .num-block {
                padding-left: 15px;
            }
        }
        & .payment {
            margin-bottom: 19px;
            &-group {
                display: flex;
                align-items: stretch;
                flex-wrap: wrap;
                & .paymentMethod {
                    position: relative;
                    max-width: calc(100% / 3);
                    flex-basis: calc(100% / 3);
                    border: 1px solid transparent;
                    margin: 0;
                    &.vnpay {
                        margin: 0;
                    }
                    &:hover {
                        border: 1px solid $grey-2;
                        border-radius: 5px;
                    }
                    & input {
                        position: absolute;
                        z-index: -1;
                        opacity: 0;
                    }
                    & .method {
                        padding: 15px 19px;
                        text-align: center;
                        min-height: 200px;
                        box-sizing: border-box;
                        border-radius: 5px;
                        background: $white;
                        height: 100%;
                        cursor: pointer;

                        &.active {
                            border: 1px solid $grey-2;
                            & .tag {
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                        & .icon {
                            margin-bottom: 14px;
                        }
                        & h4 {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 19px;
                            color: $grey-dark;
                            display: -webkit-inline-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }
                        & span {
                            display: flex;
                            flex-direction: column;
                            font-size: 14px;
                            line-height: 18px;
                            color: $grey-1;
                        }
                        & .tag {
                            position: absolute;
                            top: -12px;
                            right: -16px;
                            width: 36px;
                            height: 36px;
                            border-radius: 50%;
                            background: #27ae34;
                            color: #ffffff;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 16px;
                            z-index: 9;
                            opacity: 0;
                            visibility: hidden;
                        }
                    }
                }
            }
            @include breakpoint(1200) {
                &-group {
                    & .paymentMethod {
                        & .method {
                            padding: 15px 10px;
                            &.vnpay {
                                margin: 0px;
                            }
                        }
                    }
                }
            }
            @include breakpoint(767) {
                &-group {
                    flex-wrap: wrap;
                    & .paymentMethod {
                        width: 100%;
                        max-width: 100%;
                        flex-basis: 100%;
                        & input {
                            right: 7px;
                            z-index: 99;
                            top: 19px;
                            opacity: 1;
                            -webkit-appearance: radio;
                        }
                        & .method {
                            padding: 15px 10px;
                            text-align: left;
                            min-height: 94px;
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                            &.active {
                                border: 1px solid $grey-2;
                                & .tag {
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }
                            & .icon {
                                margin-bottom: 0px;
                                margin-right: 15px;
                            }
                            & h4 {
                                margin-bottom: 8px;
                            }
                            & .tag {
                                display: none;
                            }
                        }
                        &.vnpay {
                            margin: 0px;
                        }
                    }
                }
            }
        }
        & .info {
            & .title {
                border-bottom: 1px solid $border-color2;
                padding-bottom: 15px;
                border-bottom: 1px solid $border-color2;
            }
            & .form-group {
                & label {
                    font-size: 14px;
                    line-height: 16px;
                    color: $grey-4;
                    display: inline-block;
                    margin-bottom: 10px;
                }
                & .input-group {
                    position: relative;
                    & span.form-icon {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 48px;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 16px;
                        z-index: 99;
                        & i {
                            color: $grey-4;
                        }
                        &::after {
                            content: "";
                            position: absolute;
                            left: 46px;
                            width: 0.5px;
                            background: $border-color2;
                            height: 72%;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                    & .hover-input {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;
                        color: $headding-color;
                        &::placeholder {
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 16px;
                            color: $headding-color;
                        }
                    }
                    & textarea::placeholder {
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 16px;
                        color: $headding-color;
                    }
                    & .form-control {
                        border: 1px solid $border-color2;
                        box-sizing: border-box;
                        border-radius: 5px;
                        width: 100%;
                        height: 49px;
                        // padding: 14px 0;
                        outline: none;
                        padding-left: 60px;
                        font-family: "Roboto";
                        text-align: left;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19px;
                        color: $black;
                    }
                    & .form-area {
                        position: relative;
                        &__icon {
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            padding: 8px;
                            background: white;
                            z-index: 99;
                            margin: 2px;
                        }
                    }
                    & textarea {
                        height: 200px;
                        width: 100%;
                        padding: 15px;
                        font-weight: 500 !important;
                        font-size: 16px;
                        line-height: 19px;
                        color: $black;
                        border: 1px solid $border-color2;
                        box-sizing: border-box;
                        border-radius: 5px;
                        outline: none;
                        color: $black !important;
                    }
                    & .dropdow-adress {
                        background: $white;
                        padding-right: 20px;
                        padding-left: 45px;
                        & select {
                            font-size: 15px;
                            border: none;
                            width: 100%;
                            outline: none;
                            /*for firefox*/
                            -moz-appearance: none;
                            /*for chrome*/
                            -webkit-appearance: none;
                            appearance: none;
                            color: $headding-color;
                            padding: 0 13.5px;
                            height: 100%;
                            background: $white;
                        }
                    }
                }
            }
        }
        & .info-user {
            & .title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                padding-bottom: 15px;
                border-bottom: 1px solid $border-color2;
                & a {
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 18px;
                    color: $blue;
                    display: inline-block;
                    padding: 7px;
                    border: 1px solid $border-color;
                    border-radius: 5px;
                    transition: all 0.3s ease-in-out;
                    margin: 10px 0;
                    &:hover {
                        background: $brown-medium;
                        color: $white;
                    }
                }
            }
            & ul {
                & li {
                    padding: 15px;
                    & span {
                        color: $grey-dark;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19px;
                        display: flex;
                        align-items: center;
                        text-align: left;
                        & i {
                            color: $grey-4;
                            margin-right: 28px;
                        }
                        & img {
                            margin-right: 15px;
                            display: block;
                        }
                    }
                }
            }
        }
    }
    &__right {
        background: $white;
        border-radius: 5px;
        padding: 45px 20px;
        margin-right: 15px;
        @include breakpoint(375) {
            margin-right: 0px;
        }
        &-content {
            background: $grey-7;
            border-radius: 5px;
            padding: 36px;
        }
        &-item {
            padding: 8px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &--money {
                padding: 15px 0;
                border-top: 1px dashed $border-color2;
                border-bottom: 1px dashed $border-color2;
            }
            & b {
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
            }
            & span {
                font-size: 18px;
                line-height: 21px;
                color: $grey-dark;
                &.code {
                    font-size: 20px;
                    line-height: 23px;
                }
                &.discount {
                    color: $green;
                }
                &.money {
                    color: $red;
                    font-size: 24px;
                    line-height: 28px;
                    font-weight: bold;
                }
            }
        }
        & .insert-code {
            & h4 {
                padding: 15px 0;
                font-size: 16px;
                line-height: 19px;
                color: $grey-dark;
                margin: 0;
            }
            &__group {
                & input {
                    width: 100%;
                    padding: 12px 15px;
                    font-size: 16px;
                    line-height: 1;
                    color: $grey-1;
                    height: 42px;
                    outline: none;
                    border: 1px solid $red-secondary;
                    border-radius: 5px;
                }
                & button {
                    height: 42px;
                    font-size: 18px;
                    color: $white;
                    font-weight: bold;
                    border: none;
                    background: $green;
                    width: 100%;
                    border-radius: 5px;
                    &:hover {
                        background: $green-hover;
                    }
                }
            }
        }
        & .btn-pay {
            margin: auto;
            margin-top: 53px;
            width: 218px;
            padding: 20px;
            border-radius: 5px;
            background: $red;
            font-size: 18px;
            color: $white;
            text-align: center;
            display: flex;
            justify-content: center;
            &:hover {
                background: $red-deep;
            }
        }
        & .desc-btn {
            padding: 29px 0;
            & .desc {
                padding: 0 45px;
                font-size: 14px;
                line-height: 22px;
                color: $grey-4;
                & a {
                    color: $blue2;
                }
            }
            & .btn-pay {
                padding: 13px 42px;
                margin-top: 36px;
            }
        }
    }
    & .color-33 {
        font-size: 16px;
        line-height: 19px;
        color: $grey-dark;
    }
    @include breakpoint(576) {
        &__content {
            padding: 0px;
        }
        &__left {
            background: $white;
            padding: 15px;
            margin-left: 0;
            & h3 {
                font-size: 20px;
            }
            &-item {
                & .left-item {
                    &__img {
                        width: 79px;
                        min-width: 79px;
                    }
                    &__desc {
                        & h4 {
                            & a {
                                display: block;
                            }
                        }
                        &-price {
                            margin-bottom: 8px;
                        }
                        &-item {
                            display: flex;
                            margin: 15px 0;
                            & span.color-33 {
                                &.none-576 {
                                    display: none;
                                }
                                width: 88px;
                            }
                            & .time {
                                width: 106px;
                                & .dropdow {
                                    -webkit-transition: all 0.4s 0s ease-in-out;
                                    -moz-transition: all 0.4s 0s ease-in-out;
                                    -o-transition: all 0.4s 0s ease-in-out;
                                    transition: all 0.4s 0s ease-in-out;
                                    & li {
                                        font-size: 16px;
                                        line-height: 19px;
                                        color: $white;
                                        padding: 6px;
                                        & i {
                                            font-size: 13px;
                                            padding-right: 5px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &__right {
            padding: 15px;
            background: $white;
            &-content {
                background: $white;
                padding: 15px;
            }
            & .btn-pay {
                margin: auto;
                margin-top: 45px;
                width: 240px;
                padding: 20px;
                border-radius: 5px;
                background: $red;
                font-size: 18px;
                line-height: 21px;
            }
        }
    }
}
.skin-1 .num-in {
    display: flex;
}

.skin-1 .num-in span {
    display: block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    background: $nav-color;
    color: $grey-4;
    text-align: center;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid $red-secondary;
}

.skin-1 .num-in input {
    width: 64px;
    height: 32px;
    border: none;
    border-radius: 5px;
    color: $grey-dark;
    text-align: center;
    padding: 0;
    pointer-events: none;
    padding-left: 18px;
}

.skin-1 .num-in span.minus:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: $grey-dark;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.skin-1 .num-in span.plus:before,
.skin-1 .num-in span.plus:after {
    content: "";
    position: absolute;
    right: 0px;
    width: 10px;
    height: 2px;
    background-color: $grey-dark;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.skin-1 .num-in span.plus:after {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(90deg);
    -o-transform: rotate(90deg);
    transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

.click-show-dropdow {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    position: relative;
    background: #f5f6fa;
    border: 1px solid $red-secondary;
    box-sizing: border-box;
    border-radius: 3px;
    height: 32px;
    cursor: pointer;
    & .valua-time {
        width: 100%;
        height: 100%;
        font-size: 16px;
        line-height: 19px;
        color: $grey-dark;
        border: none;
        cursor: pointer;
    }
    & .dropdow {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        background: $grey-medium;
        border-radius: 5px;
        overflow: hidden;
        max-height: 0;
        display: flex;
        flex-direction: column;
        -webkit-transition: all 0.4s 0s ease-in-out;
        -moz-transition: all 0.4s 0s ease-in-out;
        -o-transition: all 0.4s 0s ease-in-out;
        transition: all 0.4s 0s ease-in-out;
        z-index: 100;
        &.active {
            max-height: 100vh;
        }
        & li {
            font-size: 16px;
            line-height: 19px;
            color: $white;
            padding: 6px;
            position: relative;
            padding-left: 25px;
            cursor: pointer;
            z-index: 2;
            & i {
                font-size: 12px;
                padding-right: 5px;
                position: absolute;
                left: 10px;
                top: 10px;
                opacity: 0;
            }
            &:hover i {
                display: inline-block;
            }
            & .get-valua-number {
                position: absolute;
                opacity: 0;
                width: 100%;
                height: 100%;
                left: 0;
                z-index: 1;
                &:checked + i {
                    opacity: 1;
                }
            }
        }
    }
}

textarea::placeholder {
    box-shadow: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: $headding-color;
}

.hover-input {
    &::placeholder {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: $headding-color;
    }
}
