.category-filter {
    @media (max-width: 768px) {
        margin-bottom: 50px;
    }
    .bold {
        font-family: "SFProDisplay-Bold";
    }

    .primary-light {
        color: $primary-light;
    }

    .filter-title {
        .-title {
            font-size: 14px;
            margin-left: 10px;
        }
    }

    .button-component .button-title {
        font-size: 14px;
        color: $primary-light;
    }

    .filter-author {
        font-size: 14px;

        li.list-author {
            border-bottom: 1px solid $line;
            padding: 8px 0;
            font-size: 14px;
            margin-bottom: 0;
            label {
                margin-bottom: 0;
            }
        }

        .not-boder {
            border-bottom: none;
        }
    }

    .-title {
        color: $primary;
        font-size: 14px;
        margin-top: 15px;
    }

    .filter-search {
        position: relative;
        padding: 12px;
        border: 1px solid $border-blue;
        border-radius: 5px;
        background-color: $primary-transparent;

        .select-multilple-filter {
            position: relative;
            .search-icon {
                position: absolute;
                right: 5px;
                bottom: 7px;
                width: 14px;
            }
            .select2 {
                flex: 1;
                min-height: auto;

                .select2-selection__rendered {
                    padding: 0;
                }

                .select2-selection__choice {
                    margin: 0 5px 5px 0;
                    border: 1px solid $border-blue;
                    height: 22px;
                    padding: 0 8px;
                    background: $primary-light-transparent;
                    font-size: 13px;
                    display: flex;
                    align-items: center;
                    color: $primary-light;
                }

                .select2-search {
                    width: 100%;
                }

                .select2-selection {
                    background: none;
                    border: none;
                    min-height: auto;
                }
                .select2-search__field {
                    width: 100% !important;
                    font-size: 12px;
                    color: $primary-light;
                    margin: 0;
                    height: 22px;
                    background: $white;
                    border-radius: 4px;
                    border: 1px solid $border-blue;
                    padding: 0 5px;
                }
            }
        }

        .button-icon {
            max-width: 7px;
        }

        .input-search {
            input {
                border: 1px solid $border-blue;
                padding: 2px 8px;
                border-radius: 3px;
                outline: none;
                color: $primary-light;
                font-size: 14px;
                height: 25px;
            }

            .position-absolute {
                right: 10px;
                top: 4px;
            }
        }
    }

    .list-select {
        .button-component {
            flex: 0 0 calc(100% / 2 - 10px);
            max-width: calc(100% / 2 - 10px);
            margin: 5px;
        }
    }

    .primary-light {
        .button-title {
            color: white;
        }
    }

    .form-group input {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        cursor: pointer;
    }

    .form-group label {
        position: relative;
        cursor: pointer;
    }

    .form-group label:before {
        content: "";
        -webkit-appearance: none;
        background-color: transparent;
        border: 2px solid $border-blue;
        padding: 6px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        cursor: pointer;
        margin-right: 5px;
        border-radius: 3px;
    }

    .form-group input:checked + label:after {
        content: "";
        display: block;
        position: absolute;
        top: 2px;
        left: 6px;
        width: 5px;
        height: 9px;
        border: solid $border-blue;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
}

.select2-dropdown {
    .select2-results__option {
        font-size: 12px;
        color: $gray-dark;
        &.select2-results__option--highlighted {
            background: $primary-light-transparent;
            color: $primary-dark;
        }
    }
}
