$white: #fff;
$black: #000;

$gray: #8898aa;
$gray-dark: #5e6164;
$gray-btn: #959595;
$grey-dark: #333333;
$grey-4: #91909a;
$grey-light: #e0e0e0;
$grey-9: #444444;
$grey-2: #d1d1d1;
$grey-1: #828282;
$grey-7: #f8f8f8;
$grey-medium: #4f4f4f;
$grey-3: #f2f2f2;
$grey-8: #999999;

$yellow: #f2c94c;
$red: #e60019;

$green: #3aaf85;
$green-hover: #44cb9a;

$body: #f7f7f7;

$orange: #f2994a;

$primary: #004c4c;
$primary-light: #004c4c;
$primary-dark: #004c4c;
$primary-light-transparent: #f3faff;
$primary-transparent: #def0ff;
$primary-hover: #006d6d;

$secondary: #f46f14;
$secondary-hover: #ffad65;

$text-black: #1b1e24;
$text-while: #fff;
$text-gray: #333333;
$text-gray-2: #4f4f4f;

$border-light: #e9ecef;
$border-blue: #99caec;
$border-gray: #8898aa;
$border-color: #d1d1d1;
$border-color2: #e1d6bf;

$red-dark2: #c45353;
$red-secondary: #e0e0e0;
$red-deep: #b92626;

$nav-color: #f5f6fa;

$line: #e0e0e0;

$headding-color: #4f4f4f;

$blue: #2c9cdb;
$brown-medium: #d4b26b;
$blue2: #4953ed;
$blue-light: #2ea4e6;
$bd-b: #d8d8d8;
$btn-red: #e02020;
$blue-medium: #3c5a99;

// Fonts
$font-roboto: "Roboto";
$font-inter: "Inter", sans-serif;
$font-poppins: "Poppins", sans-serif;
$font-opensans: "Open Sans", sans-serif;

$primary-color: #d4b26b;
